.main {
    margin: 0 auto;
    display: flex;
  }
  
  .ava {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .info {
    flex: 1;
    padding: 20px;
  }

  .ava img {
    border-radius: 100%;
  }
  